.row{
    margin-right: 0 !important;
}
.nav-bar{
    padding-right: 15px;
    background-color: grey;
    font-weight: bold;
    color: black;
}
.banner-section{
    background-color:blue;
    color: white;
    height: auto;
}
.banner-section h1{
    color: white;
    padding-top: 80px;
    margin-left: 11%;
    font-weight: bold;
    font-size: 300%;
}
.banner-section h2{
    color: white;
    margin-left: 11%;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 390%;
    border-bottom: 2px solid white;
}
.banner-icons .icons{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-left: 9%;
    margin-left: 20%;
}
.banner-icons>span{
    font-weight: bold;
    /* font-family: sans-serif; */
    font-size: 18px;
    margin-left: 40%;
}
.image-area{
    display: flex;
    justify-content: flex-end;
    }
.banner-image{
    width: 50%;
    border-radius: 50%;
    padding: 20px 20px;
    margin-right: 20px;
}
.aboutme h2{
    text-align: center;
    margin:15px 15px;
    font-weight:bold;
}
.about-content p{
line-height: 40px;
padding: 20px;
text-align: justify;
}
.personal-info{
    display: flex;
    justify-content: center;
}
.personal-info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    line-height: 30px;
}
.acadamics h2{
    text-align: center;
    margin:15px 15px;
    font-weight:bold;
}
.acadamic-details{
    display:flex;
    justify-content:space-evenly;
    padding: 3%;
}
.acadamic-details .card{
    margin-bottom: 10%;
    padding-bottom: 5%;
} 
.skills h2{
    text-align: center;
    margin:15px 15px;
    font-weight:bold;
}
.my-skills img{
    margin-left: 10%;
    margin-right: 10%;
}
.projects h2{
    text-align: center;
    margin:15px 15px;
    font-weight:bold;
}
.project1{
    padding: 3%;
}
.project1-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.project1-img img{
    width:50%;
}
.project2-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.project2-img img{
    width:50%;
}
.project-details p{
    text-align: justify;
}
.contact h2{
    text-align: center;
    margin:15px 15px;
    font-weight:bold;
}
.contactus{
    padding: 4%;
    background-color: black;
    color: white;
    margin-right: 0 !important;
    display: flex;
    justify-content: space-evenly;
}
.contact-details>span>i{
    padding-right:5% ;
    font-size:x-large
}
.icons-4{
    display: flex;
    justify-content: space-around;
}
.contact-form{

}
.submit-btn{
    display: flex;
    justify-content: flex-end;
    padding-top: 5%;
}

@media (min-width: 1281px) {
    
  }
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
    
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
   .banner-section h1{
    font-size: 12px;
   }
   .banner-section h2{
    font-size: 12px;
   }
   .banner-icons{
    padding: 0;
    margin-left: 20%;
   }
   .banner-icons>span{
      font-size: 12px;
      margin-left: -10%;
   }
   .icons i{
    font-size: 1em;
   }
   .banner-image {
    width: 93%;
    height: 100%;
    border-radius: 50%;
    padding: 38px 20px;
    margin-right: 5%;
    margin-left: 28px;
    
  }
  .image-area {
    display: flex;
    justify-content: flex-end;
    margin: 0%;
}
.banner-icons>.icons{   
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding-left: 9%; */
    margin-left: 20%;
    margin-left: -15%;
}
.about-content p{
    line-height: 1.5;
}
.personal-info{
    display: flex;
    /* padding-left: 10%; */
}
.personal-info-wrapper{
    /* padding-left: 30px; */
}
.acadamic-details .acadamic{
    padding-left: 6%;
}
.acadamic-details .card{
    margin-bottom: 10%;
    padding-bottom: 5%;
} 
.my-skills img {
    /* margin-left: 10%;
    margin-right: 10%;
    height: 186px; */
    height: 230px;
    margin: 0;
}
.project-details h1{
    padding: 5%;
}
.project-details p{
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 5%;
    
}
.project1-img img {
    margin-left: 100%;
    width: 100%;
}
.project2-img img {
    margin-left: 100%;
    width: 100%;
}
.icons-4 a{
    margin-bottom: 10%;
}
.submit-btn{
    margin-top: 5%;
}

}